/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* CSS Reset by to Andy Bell at https: //piccalil.li/blog/a-modern-css-reset/ */
:root {
  --cover-size-multiplier: 3rem;
  --cover-width: calc(6.5 * var(--cover-size-multiplier));
  --cover-height: calc(8.5 * var(--cover-size-multiplier));
  --color-amazon: #307351;
  --color-ivory: #FFFFF2;
  --color-red: #E3170A;
  --color-dark: #120309;
  --color-dark-transparent: #120309e1;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

button {
  font-family: inherit;
  background-color: transparent;
  border: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-amazon);
  min-height: 6rem;
}
header h1 {
  color: var(--color-ivory);
  font-size: 2.5rem;
  letter-spacing: 0.15rem;
}

main {
  background-color: var(--color-ivory);
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--cover-width));
  grid-auto-columns: var(--cover-height);
  gap: 2rem;
  padding: 2rem 6rem;
}
main img {
  height: 100%;
  object-fit: cover;
}

article {
  position: relative;
}

article > div {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-dark-transparent);
  display: flex;
  align-items: center;
  justify-content: center;
}
article > div p {
  color: var(--color-ivory);
  font-size: 1.5rem;
}

article > div:hover {
  opacity: 100%;
}

article button {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  color: var(--color-ivory);
}

.close {
  top: 1rem;
  right: 1rem;
}
.close span {
  font-size: 3rem;
  color: var(--color-red);
}

.read-status {
  bottom: 1rem;
  right: 1rem;
}
.read-status span {
  font-size: 2.5rem;
}

body > button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: var(--color-amazon);
  border: var(--color-amazon) 4px solid;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

.no-cover {
  background-color: var(--color-dark);
  color: var(--color-ivory);
  padding: 40% 1rem 1rem 2rem;
}
.no-cover p {
  margin: 0 0 1rem;
}

form {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

fieldset {
  background-color: var(--color-dark-transparent);
  display: flex;
  flex-direction: column;
  border: none;
  color: var(--color-ivory);
  font-size: 1.5rem;
}

legend {
  background-color: var(--color-amazon);
  padding: 0 1rem;
  font-size: 2rem;
}

/*# sourceMappingURL=style.css.map */
