@use "modern_css_reset.css";

:root {
    --cover-size-multiplier: 3rem;
    --cover-width: calc(6.5 * var(--cover-size-multiplier));
    --cover-height: calc(8.5 * var(--cover-size-multiplier));
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--cover-width));
    grid-auto-columns: var(--cover-height);

    img {
        height: 100%;
        object-fit: cover;
    }
}

main>article {
    position: relative;
}

article>button {
    position: absolute;
}